<div
  class="margin-top-4"
  style="width: 100%; height: 100%; display:flex; flex-direction: column; align-items: center"
>
  <h1 style="text-align: center; ">
    <!--  Låt oss ta hand om bilen-->
    Bilmekanikern kommer till dig
  </h1>

<!--  <h2 class="margin-top">så att du får tid till annat</h2>-->
  <div style="font-size: 1.4rem; line-height: 2.5rem; ">
    <ul>
<!--      <li>Slipp besväret att åka till bilverkstad</li>-->
      <li>Bilservice hemma hos dig eller på ditt jobb</li>

      <li>Alla dagar i veckan, morgon till kväll</li>
    </ul>
  </div>

  <div
    class="spacing-header-and-input"
    style="justify-content: center; max-width: 400px"
  >
    <button
      class="main-button"

      mat-raised-button
      color="accent"
      (click)="indexService.nextPage()"
    >
      Boka bilmekaniker nu
    </button>
  </div>


<!--  <div class="margin-top-10">-->
<!--    <mat-icon style="transform: scale(3)">arrow_drop_down_circle</mat-icon>-->
<!--  </div>-->

