$accent: (
  50 : #edefe9,
  100 : #d3d7c9,
  200 : #b6bca5,
  300 : #98a181,
  400 : #828c66,
  500 : #6c784b,
  600 : #647044,
  700 : #59653b,
  800 : #4f5b33,
  900 : #3d4823,
  A100 : #05abd1,
  A200 : #0495b6,
  A400 : #03738C,
  A700 : #023e4b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #FFFFFF,
    A700 : #FFFFFF,
  )
);

$primary: (
  50 : #f1eae8,
  100 : #ddcbc6,
  200 : #c6a8a1,
  300 : #af857b,
  400 : #9d6a5e,
  500 : #8c5042,
  600 : #84493c,
  700 : #794033,
  800 : #6f372b,
  900 : #5c271d,
  A100 : #ffa99b,
  A200 : #ff7d68,
  A400 : #ff5135,
  A700 : #ff3b1c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
