/* For use in src/lib/core/theming/_palette.scss */
$primary: (
  50 : #e1e8e9,
  100 : #b3c7c8,
  200 : #81a1a3,
  300 : #4f7b7e,
  400 : #295f63,
  500 : #034347,
  600 : #033d40,
  700 : #023437,
  800 : #022c2f,
  900 : #011e20,
  A100 : #5deeff,
  A200 : #2ae9ff,
  A400 : #00dcf6,
  A700 : #00c5dc,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent: (
  50 : #eee6e4,
  100 : #d5bfba,
  200 : #ba958d,
  300 : #9e6b5f,
  400 : #894b3c,
  500 : #742b1a,
  600 : #6c2617,
  700 : #612013,
  800 : #571a0f,
  900 : #441008,
  A100 : #ff887a,
  A200 : #ff5a47,
  A400 : #ff2c14,
  A700 : #fa1900,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

